In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# make a path to project folder
path = r'C:\Users\egrnw\anaconda3\03-07-2025 Instacart Basket Analysis'

# 3.

In [4]:
#Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# 4.

In [5]:
# check shape

df_ords_prods_combined.shape

(32434489, 12)

# 5.

In [6]:
#Import products_checked
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [9]:
# use merge because the columns do not match exactly.

In [12]:
ords_prods_merge = df_ords_prods_combined.merge(df_prods , on = ['product_id'] , indicator = 'match' )

# 6.

In [14]:
ords_prods_merge['match'].value_counts()

match
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# 7.

In [ ]:
# Export data to pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

In [15]:
ords_prods_merge.shape

(32404859, 18)